DATABASE_URL="file:./dev.db"
JWT_SECRET="placement-super-secret-institution-key-2026"
NEXT_PUBLIC_APP_NAME="Placement Management System"
NEXT_PUBLIC_INSTITUTION_NAME="Placement Management System"

# Firebase Client Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyABd_8zsTg6ShZBlep95GptkuVAyuMEdcA"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="placement-management-sys-3afa6.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="placement-management-sys-3afa6"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="placement-management-sys-3afa6.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1029718465896"
NEXT_PUBLIC_FIREBASE_APP_ID="1:1029718465896:web:99850173a67f74ed898add"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-4L5RRJLTNY"

